/* checkers.css */
#game-board
{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1020px;
    height: 1020px
}
.square
{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.black
{
    background-color: darkgray;
}

.checker
{
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px gray;
}

.checker-w
{
    background-color: ivory;
}

.checker-b, .checker-bk
{
    background-color: black;
}

.square.highlight{
    background-color: yellow; !important;
}

.square.droptarget{
    background-color: orange;
}

.checker.highlight{

}

canvas{
    border:solid 1px black;
    box-shadow: 5px 5px 5px black;
    position: relative;
}
